#nav {
    background-color: #2196F3;
    min-height: 60px;
    margin-bottom: 20px;
    color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
    
}

#nav img {
    height: 50px;
}

#nav ul {
    list-style-type: none;
    float: right;
}

#nav ul li {
    display: inline;
    padding: 10px 15px;
    font-size: 1.3em;
    color:#ffffff;
    
}

a, a:hover {
    text-decoration: none;
    color: #282c34;
    color:#ffffff;
}

#nav span {
    position: absolute;
    float: none;
    font-size: 1.5em;
    top: 3.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navtext {
    color:#ffffff;
    font-family: 'Rubik Mono One';
    font-size: 1.5rem;
    margin-left: 10px;
    
}


#login-container {
    margin-left: auto;
}

/* Стиль посилань */
.nav-links {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links li a:hover {
    text-decoration: underline;
}

/* Мобільне меню */
.mobile-menu-toggle {
    display: none;
    background: none;
    color: white;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

/* Адаптивний стиль для мобільних пристроїв */
@media (max-width: 768px) {
    .mobile-menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #444;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-links.mobile-menu-open {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    #login-container {
        margin-top: 10px;
    }
}